/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2 set. 2025, 11:20:48 a. m.
    Author     : ASUS
*/
#login{
    border: 2px solid black;
    background-color: #5A00A5;
    color: white;
}

body {
   background-image: url("../fondos y banners/fondo1.jpg"); 
   background-size: cover;
   background-position: center; 
}

#correo{
    height: 25px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}

#password{
    height: 25px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}

#datos{
    display:inline-block;
    color: black;
}

#mandar{
    height:40px;
    font-size:15px;
    width:200px;
    background-color:#007BFF;
    color: white;
}