/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2 set. 2025, 11:20:55 a. m.
    Author     : ASUS
*/

body {
    background-image: url("../fondos y banners/fondo1.jpg"); 
   background-size: cover;
   background-position: center; 
}

#name{
    height: 40px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}

#surname{
    height: 40px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}

#dni{
    height: 40px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}

#telef{
    height: 40px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}

#correo{
    height: 40px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}


#Iniciar{
    height:40px;
    font-size:15px;
    width:200px;
    background-color:#007BFF;
    color: white;
}

#contraseña{
    height: 40px;
    width: 325px;
    font-size:15px;
    border-radius:8px;
}